# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Vite
.vite

# Env files
.env*

# Dependency directories
/.pnp
.pnp.js

# Coverage
coverage/

# Misc
Thumbs.db

# Yarn
.yarn/
.yarnrc*

# Package manager lock files
pnpm-lock.yaml

# Test output
junit.xml

# SASS cache
.sass-cache

# Parcel cache
.cache

# TypeScript build
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
